html,body {
  height: 100%;
}

#graph{
  margin: 10px 0;
	box-shadow: 0 0 5px #ccc;
	padding: 10px;
  width: 100%;
}

#graph svg{
  width: 100% !important;
  height: 100%;
}


#dot-input{
  background-color: #ebebeb;
  min-height: 500px;
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

#graph g.node, #graph g.edge {
  cursor: pointer;
}

#graph g.node text{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

#graph g.node polygon[fill="none"] {
  fill: #ebebeb;
}

#graph g.node:hover polygon {
  fill: #9393ff;
}


#graph g.edge polygon {
  fill: #9393ff;
}

#graph g.edge path {
  fill: none;
  stroke: #666;
  stroke-width: 1px;
}

#graph g.edge:hover path {
  stroke: #0000ff;
  stroke-width: 3px;
}
